@model Employee
@{
    ViewData["Title"] = "Details";
}

<h1>Delete Employee  </h1>

<form  asp-action="Delete" asp-route-id="@Model.Id">

    <div class="my-3">

        <label asp-for="Name" class="col-form-label"></label>
        <input asp-for="Name" class="form-control" readonly/>
       

    </div>



    <div class="my-3">

        <label asp-for="Age" class="col-form-label"></label>
        <input asp-for="Age" class="form-control" readonly/>

    </div>



    <div class="my-3">

        <label asp-for="Phone" class="col-form-label"></label>
        <input asp-for="Phone" class="form-control" readonly/>

    </div>

    <div class="my-3">

        <label asp-for="Address" class="col-form-label"></label>
        <input asp-for="Address" class="form-control" readonly />

    </div>

    <div class="my-3">

        <label asp-for="Email" class="col-form-label"></label>
        <input asp-for="Email" class="form-control" readonly />

    </div>

    <div class="my-3">

        <label asp-for="Salary" class="col-form-label"></label>
        <input asp-for="Salary" class="form-control"  readonly/>

    </div>

    <div class="my-3">

        <label asp-for="HiringDate " class="col-form-label"></label>
        <input asp-for="HiringDate" class="form-control"  readonly/>

    </<div>


    
    <div class="my-3">

        <a asp-action="Index" class="btn btn-primary">Back To List</a>

      <input type="submit" value="delete"  class="btn btn-danger" />

    </div>

</form>

