@model Employee
@{
    ViewData["Title"] = "Details";
}

<h1>Delete Employee  </h1>

<form  asp-action="Delete" asp-route-id="@Model.Id">

    <partial name="EmployeePartialView/_DeleteDetailsPartial"/>
    <input asp-for="ImageName" hidden />
    
    <div class="my-3">

        <a asp-action="Index" class="btn btn-primary">Back To List</a>

      <input type="submit" value="delete"  class="btn btn-danger" />

    </div>

</form>

