@model EmployeeDto
@{
    ViewData["Title"] = "Edit";
    var id = ViewData["id"];
    if(id is null){ id = 0; }
    else{ id = (int)id; }

}

<h1>Edit</h1>



<br />
<br />


<form asp-action="Edit" method="post" asp-route-id="@id" enctype="multipart/form-data">

	<partial name="EmployeePartialView/_EditCreatePartail" model="Model" />

    <input asp-for="ImageName" hidden />

        <div class="my-3">

        <input type="submit" value="update and Save" class="btn btn-warning" />
        <a asp-action="Index" asp-controller="Employee"  class="btn btn-light">Back to List</a>
    </div>
</form>



@section ValidationSection {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
}


